## No strict or warnings
## The output of Data::Dumper->Dump([ \@myarray, \@ourarray],
##                                  [ qw(*myarray *ourarray)]);
## is used as the config.
@myarray = ('this', 'is', 'myarray');
@ourarray = (
              'this',
              'is',
              'ourarray'
            );
